.main__article-body {
  width: 880px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__article-body_full {
  width: 100%;
}

.main__article-body_theme_small {
  margin-block-start: 70px;
}
