@import url("./__wrapper/header__wrapper.css");
@import url("./__wrapper-logo/header__wrapper-logo.css");
@import url("./__wrapper-menu-list/header__wrapper-menu-list.css");
@import url("./__wrapper-menu-item/header__wrapper-menu-item.css");
@import url("./__wrapper-menu-btn/header__wrapper-menu-btn.css");
@import url("./__picture/header__picture.css");

@media (700px <= width < 1440px) {
  .header__wrapper {
    padding-inline: 42px;
  }
}

@media (320px <= width < 700px) {
  .header__wrapper {
    padding-block: clamp(0rem, -1.263rem + 6.32vw, 1.5rem);
    padding-inline: 20px;
  }

  .header__wrapper-logo {
    width: clamp(2.188rem, 1.398rem + 3.95vw, 3.125rem);
  }

  .header__wrapper-menu {
    display: none;
  }

  .header__wrapper-menu-btn {
    display: block;
  }
}
