.main__section-pagination-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-accent-light);
  color: var(--color-accent);
}

.main__section-pagination-btn:hover {
  background: rgba(93, 113, 221, 0.15);
}

.main__section-pagination-btn:active {
  background: rgba(93, 113, 221, 0.2);
}
